@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

* {
  font-family: 'Futura';
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  margin: 0;
}

.app {
  padding: 40px;
  min-height: 100%;
}

.about-header {
  margin: 0;
  text-transform: uppercase;
}

.about {
  display: flex;
}

.about p {
  font-size: 20px;
}

.about-text {
  margin-right: 80px;
}

.about-text p {
  font-family: 'Roboto Slab';
}

.about .section {
  display: flex;
}

.about .section div:first-child {
  margin-right: 50px;
}

.about .bio {
  display: flex;
  margin-bottom: 30px;
}

.about .bio .image {
  margin-right: 20px;
}

.about .bio > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}

.about > div:last-child {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.blurb {
  width: 400px;
}

.blurb p {
  font-family: 'Roboto Slab';
}

.contact h3  {
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}

.contact p {
  margin: 0;
}

.contact > p {
  font-size: 16px;
}

.team > h3 {
  font-weight: normal;
  font-size: 30px;
  padding-left: 38px;
}

.yellow {
  background-color: #FFDF59;
}

.blue {
  background-color: #3D74DD;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.home .container div {
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.navbar .links {
  font-weight: bold;
  margin-top: 0px;
  text-align: right;
  text-transform: uppercase;
}

.navbar .links a {
  color: black;
  font-size: 14px;
  font-weight: normal;
  display: block;
  margin-bottom: 2px;
  text-decoration: none;
}

.text-header {
  margin-bottom: 50px;
}

.text-header p {
  font-family: 'Roboto Slab';
  font-size: 40px;
  text-transform: uppercase;
}

.text-header h1 {
  font-family: 'Futura';
  font-size: 70px;
  line-height: 70px;
  margin: 0;
  text-transform: uppercase;
}

.text-header p {
  font-size: 40px;
}

.login-btn {
  color: white;
  background: black;
  border-radius: 30px;
  padding: 18px 25px 18px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.login-btn img {
  height: 40px;
  padding-bottom: 6px;
  vertical-align: middle;
}

.filter-options {
  align-items: baseline;
  display: flex;
  justify-content: center;
}

.filter-options .option:first-child {
  margin-right: 50px;
}

.filter-options .option:last-child {
  margin-left: 50px;
}

.filter-options .option div {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.filter-options .option .btn {
  color: white;
  background: black;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}

.download-btn {
  color: white;
  cursor: pointer;
  background: black;
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#poster {
  background: white;
  height: 688px;
  width: 688px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.lineup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);;
  min-height: 803px;
  padding: 40px;
}

.poster-container {
  position: absolute;
  left: 0;
  right: 0;
}

.poster-container .close {
  display: flex;
  color: white;
  cursor: pointer;
  justify-content: flex-end;
  margin: auto;
  width: 689px;
}

.poster-container .close h1 {
  margin: 0;
}

.poster-container .download {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.poster-sections {
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}

#poster .header {
  position: relative;
}

#poster .header-text {
  position: absolute;
  color: #3D74DD;
  text-align: center;
  text-transform: uppercase;
  top: 40;
  width: 100%;
}

#poster .header-text h3 {
  font-family: Futura;
  margin: 5px;
}

#poster .header-text h1 {
  font-family: Futura;
  margin: 5px;
}

#poster-layout {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 688px;
}

#poster-layout .footer {
  padding-bottom: 20px;
}

.acts {
  font-family: 'Futura';
  height: 150px;
  text-transform: uppercase;
}

.acts .headliner {
  font-size: 40px;
  text-align: center;
  position: relative;
  top: -100;
}

.acts .co_headliner {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -95;
}

.acts .top_bill {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -85;
}

.acts .supporting {
  position: relative;
  top: -75;
  font-size: 12px;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
}

.acts .supporting span {
  display: inline-block;
  margin: 2px;
  width: 15%;
  vertical-align: middle;
}