@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');
@import 'mixins';

* {
  font-family: 'Futura';
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  margin: 0;
}

.app {
  padding: 40px;
  min-height: 100%;
}

.about-header {
  margin: 0;
  text-transform: uppercase;
}

.about {
  display: flex;
}

.about p {
  font-size: 20px;
}

.about-text {
  margin-right: 80px;
}

.about-text p {
  font-family: 'Roboto Slab';
}

.about .section {
  display: flex;
}

.about .section div:first-child {
  margin-right: 50px;
}

.about .bio {
  display: flex;
  margin-bottom: 30px;
}

.about .bio .image {
  margin-right: 20px;
}

.about .bio > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}

.about > div:last-child {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.blurb {
  width: 400px;
}

.blurb p {
  font-family: 'Roboto Slab';
}

.contact h3  {
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}

.contact p {
  margin: 0;
}

.contact > p {
  font-size: 16px;
}

.team > h3 {
  font-weight: normal;
  font-size: 30px;
  padding-left: 38px;
}

.yellow {
  background-color: #FFDF59;
}

.blue {
  background-color: #3D74DD;
}

.container {
  text-align: center;

  @include respond-to('medium') {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
}

.home .bottom-banner {
  display: none;

  @include respond-to('medium') {
    display: block;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  border-bottom: 3px solid black;

  @include respond-to('medium') {
    flex-direction: row;
    border-bottom: unset;
    justify-content: space-between;
    margin-bottom: unset;
    padding-bottom: 70px;
  }
}

.navbar .links {
  display: none;

  @include respond-to('medium') {
    display: block;
    font-weight: bold;
    margin-top: 0px;
    text-align: right;
    text-transform: uppercase;
  }
}

.navbar .links a {
  color: black;
  font-size: 14px;
  font-weight: normal;
  display: block;
  margin-bottom: 2px;
  text-decoration: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 3px solid black;
  margin-bottom: 50px;
  padding: 25px;
  
  .text-header h1 {
    margin: 0;
  }

  @include respond-to('medium') {
    border-bottom: unset;
    text-align: left;
    padding: unset;

    .text-header {
      margin-bottom: unset;
    }

    .text-header h1 {
      margin: unset;
    }
  }
}

.cta p {
  font-family: 'Roboto Slab';
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 0;

  @include respond-to('medium') {
    font-size: 40px;
    margin-bottom: unset;
  }
}

.text-header {
  @include respond-to('medium') {
    margin-bottom: 50px;
  }
}

.text-header h1 {
  font-family: 'Futura';
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;

  @include respond-to('medium') {
    font-size: 70px;
    line-height: 70px;
    margin: 0;
  }
}

.text-header p {
  font-size: 40px;
}

.login-btn {
  color: white;
  background: black;
  border-radius: 30px;
  padding: 18px 25px 18px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.login-btn img {
  height: 40px;
  padding-bottom: 6px;
  vertical-align: middle;
}

.filter-options {
  display: flex;
  flex-direction: column;

  @include respond-to('medium') {
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
  }
}

.filter-options .option:first-child {
  @include respond-to('medium') {
    margin-right: 50px;
  }
}

.filter-options .option:last-child {
  @include respond-to('medium') {
    margin-left: 50px;
  }
}

.filter-options .option div {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.filter-options .option .btn {
  color: white;
  background: black;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}

.download-btn {
  color: white;
  cursor: pointer;
  background: black;
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.lineup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);;
  min-height: 803px;
  padding: 40px;
}

.poster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;

  @include respond-to('medium') {
    display: block;
    position: relative;
  }
}

.poster-container .close {
  display: flex;
  color: white;
  cursor: pointer;
  justify-content: flex-end;
  margin: auto;
  width: 95%;

  @include respond-to('medium') {
    width: 689px;
  }
}

.poster-container .close h1 {
  margin: 0;
}

.poster-container .download {
  display: none;

  @include respond-to('medium') {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.poster-sections {
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}

#poster {
  background: white;
  width: 95%;
  position: relative; 
  margin: 0 auto;
  z-index: 100;

  @include respond-to('medium') {
    height: 688px;
    width: 688px;
  }
}

#poster:before {
  content: '';
  display: block;
  padding-top: 100%;
}

#poster .header {
  position: relative;
  flex: 1;

  @include respond-to('medium') {
    height: 280px;
  }
}

#poster .header:before {
  content: '';
  display: block;
  padding-top: 42%;
}

#poster .spotify-logo {
  background: url('../images/spotify_icon_white.png');
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  margin: 10px;
  z-index: 9999;
}

#poster .header-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/poster_header.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: #3D74DD;
  text-align: center;
  text-transform: uppercase;
  padding-top: .5em;

  @include respond-to('medium') {
    padding-top: 30px;
  }
}

#poster .guest-header-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/npo_header.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  color: #3D74DD;
  text-align: center;
  text-transform: uppercase;
  padding-top: .5em;

  @include respond-to('medium') {
    padding-top: 30px;
  }
}

#poster .header-text h3 {
  font-family: Futura;
  font-size: 3vw;
  margin: 5px;

  @include respond-to('medium') {
    font-size: 30px;
  }
}

#poster .header-text h1 {
  font-family: Futura;
  font-size: 6vw;
  margin: 5px;

  @include respond-to('medium') {
    font-size: 50px;
  }
}

#poster-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond-to('medium') {
    height: 688px;
  }
}

#poster-layout .footer {
  position: relative;
  flex: 1;
}

#poster-layout .footer:before {
  content: '';
  display: block;
  padding-top: 35%;
}

.acts {
  font-family: 'Futura';
  text-transform: uppercase;
  flex: 3;
  margin-top: -20%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
  z-index: 999;

  @include respond-to('medium') {
    margin-top: -18%;
  }
}

.acts .headliner {
  position: relative;
  font-size: 8vw;
  text-align: center;

  @include respond-to('medium') {
    font-size: 50px;
  }
}

.acts .co_headliner {
  font-size: 5vw;
  display: flex;
  justify-content: space-evenly;
  position: relative;

  @include respond-to('medium') {
    font-size: 35px;
  }
}

.acts .top_bill {
  font-size: 3vw;
  display: flex;
  justify-content: space-around;
  position: relative;

  @include respond-to('medium') {
    font-size: 25px;
  }
}

.acts .supporting {
  position: relative;
  font-size: 2vw;
  text-align: center;
  overflow: hidden;

  @include respond-to('medium') {
    font-size: 15px;
  }
}

.acts .supporting span {
  display: inline-block;
  margin: .2em; 
  vertical-align: middle;

  &:before {
    content: '  ';
  }

  &:after {
    content: '  ';
  }
}

.acts a {
  text-decoration: none;
  color: black; 
}

.volcano-jam {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/volcano_footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;

  @include respond-to('medium') {
    height: 231px;
    background-size: unset;
    width: unset;
    margin: unset;
  }
}

.forrestfest {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/forest_footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;

  @include respond-to('medium') {
    height: 211px;
    background-size: unset;
    width: unset;
    margin: unset;
  }
}

.unholy-space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/unholy_footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;

  @include respond-to('medium') {
    height: 238px;
    background-size: unset;
    width: unset;
    margin: unset;
  }
}

#poster-layout .guest-footer-container:before {
  content: '';
  display: block;
  padding-top: 40%;
}

.guest-footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/npo_footer.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;

  @include respond-to('medium') {
    background-size: unset;
    width: unset;
    margin: unset;
  }
}

.mobile-logout {
  display: flex;
  border-top: 3px solid black;
  justify-content: center;
  padding-top: 20px;

  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }

  @include respond-to('medium') {
    display: none;
  }
}