* {
  font-family: 'Futura';
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app {
  height: 100%;
  padding: 40px;
}

.about_header {
  margin: 0;
  text-transform: uppercase;
}

.about {
  display: flex;
}

.about p {
  font-size: 20px;
}

.about_text {
  margin-right: 80px;
}

.about .section {
  display: flex;
}

.about .bio {
  display: flex;
  margin-bottom: 30px;
}

.about .bio > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}

.about > div:last-child {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.contact h3, .contact p {
  margin: 0;
}

.contact > p {
  font-size: 16px;
}

.team > h3 {
  padding-left: 38px;
}

.logged-in {
  background-color: #FFDF59;
}

.logged-out {
  background-color: #3D74DD;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.home .container div {
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.navbar .links {
  font-weight: bold;
  margin-top: 0px;
  text-align: right;
  text-transform: uppercase;
}

.navbar .links a {
  color: black;
  display: block;
  text-decoration: none;
}

.navbar .links a:first-child {
  margin-bottom: 20px;
}

.text-header {
  margin-bottom: 50px;
}

.text-header h1 {
  font-family: 'Futura';
  font-size: 96px;
  line-height: 96px;
  margin: 0;
  text-transform: uppercase;
}

.text-header p {
  font-size: 54px;
}

.login-btn {
  color: white;
  background: black;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.filter-options {
  align-items: baseline;
  display: flex;
  justify-content: center;
}

.filter-options .option:first-child {
  margin-right: 50px;
}

.filter-options .option:last-child {
  margin-left: 50px;
}

.filter-options .option div {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.filter-options .option .btn {
  color: white;
  background: black;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.poster {
  position: absolute;
  background: white;
  height: 689px;
  width: 689px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.poster-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);;
}

.poster .header-text {
  color: #3D74DD;
  position: absolute;
  top: 0;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.poster .header-text h3 {
  font-family: Futura;
  margin: 5px;
}

.poster .header-text h1 {
  font-family: Futura;
  margin: 5px;
}

.poster .footer {
  position: absolute;
  bottom: 20;
  z-index: -1;
}

.acts {
  font-family: 'Futura';
  text-transform: uppercase;
}

.acts .headliner {
  font-size: 40px;
  text-align: center;
  position: relative;
  top: -100;
}

.acts .co_headliner {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -95;
}

.acts .top_bill {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -85;
}

.acts .supporting {
  position: relative;
  top: -75;
  font-size: 12px;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
}

.acts .supporting span {
  display: inline-block;
  margin: 2px;
  width: 15%;
  vertical-align: middle;
}