@import url('https://fonts.googleapis.com/css?family=Carter+One|Quicksand:400,500,700|Righteous');

* {
  font-family: 'Quicksand';
}

a {
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

nav a {
  margin-right: 1em;
  text-decoration: none;
}

.log-out a {
  margin-right: 0;
}

.active {
  font-weight: 500;
}

.headliner {
  font-size: 4em;
}

.mainLineup {
  font-size: 2.2em;
}

.midLineup {
  font-size: 1.5em;
}

.bottomLineup {
  font-size: .9em;
}

.artist-info, .user-info {
  background-image: url('/assets/images/pink-mountains.jpeg');
  background-size: cover;
  margin-bottom: 2em;
  padding: 2em 0;
  text-align: center;
}

.artist-info img {
  max-height: 350px;
}

.artist-name, .username {
  color: white;
  font-family: 'Righteous';
  font-size: 4em;
  margin: 0;
  padding: .1em 0;
}

.artist-album, .track {
  border-bottom: 1px solid lightgray;
  display: inline-block;
  margin-right: 1em;
  padding-top: 2em;
}

.album-name p, .track-details p {
  line-height: .5em;
  text-align: center;
}

.followers, .genres {
  background-color: black;
  color: white;
}

.lineup-announcement {
  background-image: url('/assets/images/pink-mountains.jpeg');
  background-size: cover;
  display: flex;
}

.bands {
  border-bottom: 2px dotted white;
  border-top: 2px dotted white;
  margin: 5em;
  padding: 4em;
  text-align: center;
}

.bands .tier a {
  text-decoration: none;
}

.bands .tier span {
  color: white;
  display: inline-block;
  font-family: 'Carter One';
  margin: 0 .5em;
}

.artist-albums, .recently-played, .top-tracks {
  text-align: center;
}
