@import url('https://fonts.googleapis.com/css?family=Carter+One|Quicksand:400,500,700|Righteous');

* {
  font-family: 'Quicksand';
}

body {
  margin: 0;
}

a {
  color: black;
}

button {
  cursor: pointer;
}

.error {
  color: red;
}

input[type='text'] {
  font-size: 1em;
  line-height: 2em;
}

.app {
  padding: 40px;
}

.logged-in {
  background-color: #FFDF59;
}

.logged-out {
  background-color: #3D74DD;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.home .container div {
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.navbar ul {
  font-weight: bold;
  list-style: none;
  margin-top: 0px;
  text-align: right;
  text-transform: uppercase;
}

.navbar ul li:first-child {
  margin-bottom: 20px;
}

.text-header {
  margin-bottom: 50px;
}

.text-header h1 {
  font-family: 'Futura';
  font-size: 96px;
  line-height: 96px;
  margin: 0;
  text-transform: uppercase;
}

.text-header p {
  font-size: 54px;
}

.login-btn {
  color: white;
  background: black;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.filter-options {
  align-items: baseline;
  display: flex;
  justify-content: center;
}

.filter-options .option:first-child {
  margin-right: 50px;
}

.filter-options .option:last-child {
  margin-left: 50px;
}

.filter-options .option div {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.filter-options .option .btn {
  color: white;
  background: black;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.poster {
  position: absolute;
  background: white;
  height: 689px;
  width: 689px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.poster-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);;
}

.poster .header-text {
  color: #3D74DD;
  position: absolute;
  top: 0;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.poster .header-text h3 {
  font-family: Futura;
  margin: 5px;
}

.poster .header-text h1 {
  font-family: Futura;
  margin: 5px;
}

.poster .footer {
  position: absolute;
  bottom: 20;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: .5em .5em 2em;
}

nav a {
  margin-right: 1em;
  text-decoration: none;
}

.login {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2%;
}

.login-container a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.login-container {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  box-shadow: 10px 10px black;
  color: black;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 200px;
}

.log-out a {
  margin-right: 0;
}

.active {
  font-weight: 500;
}

.headliner {
  font-size: 4em;
}

.mainLineup {
  font-size: 2.2em;
}

.midLineup {
  font-size: 1.5em;
}

.bottomLineup {
  font-size: .9em;
}

.artist-info, .user-info {
  background-image: url('/assets/images/pink-mountains.jpeg');
  background-size: cover;
  margin-bottom: 2em;
  padding: 2em 0;
  text-align: center;
}

.artist-info a, .user-info a {
  color: white;
  display: block;
  padding-top: 1em;
  text-decoration: none;
}

.artist-info img {
  max-height: 350px;
}

.artist-name, .username {
  color: white;
  font-family: 'Righteous';
  font-size: 4em;
  margin: 0;
  padding: .1em 0;
}

.artist-album, .track {
  border-bottom: 1px solid lightgray;
  display: inline-block;
  margin-right: 1em;
  padding-top: 2em;
}

.album-name p, .track-details p {
  line-height: .5em;
  text-align: center;
}

.followers, .genres {
  background-color: black;
  color: white;
}

.lineup-announcement {
  background-image: url('/assets/images/pink-mountains.jpeg');
  background-size: cover;
  display: flex;
  padding: 2em;
}

.bands {
  border-bottom: 2px dotted white;
  border-top: 2px dotted white;
  padding: 2em 0;
  text-align: center;
}

.bands .tier a {
  text-decoration: none;
}

.bands .tier span {
  color: white;
  display: inline-block;
  font-family: 'Carter One';
  margin: 0 .5em;
}

.artist-albums, .recently-played, .tracks {
  text-align: center;
}

.filters {
  padding: 1em 0;
  text-align: center;
}

.export {
  background-color: black;
  text-align: center;
  width: 100%;
}

.export span button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  outline: none;
}

.tracks-container {
  display: -webkit-box;
  overflow-x: hidden;
}

.playlist-form {
  background-color: rgba(black, .8);
  transition: transform 200ms ease-in-out;
  width: 100%;
}

.playlist-form form {
  background-color: white;
  padding: 2em 1em;
}

.playlist-form form ul {
  padding: 0;
  margin-bottom: 2em;
}

.playlist-form input[type='text'] {
  margin-bottom: 1em;
  width: 100%;
}

.playlist-form input:last-child {
  font-size: 1em;
}

.playlist-form form ul li {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.playlist-form li:nth-child(even) {
  background-color: lightcyan;
}

.playlist-form form ul li span button {
  background: none;
  border: none;
}

.playlist-form label {
  display: block;
}

.playlist-form-entered, .playlist-form-exiting {
  transform: translate(-100%);
}

.playlist-form-entering, .playlist-form-exited {
  transform: translate(0%);
}

.modal {
  background: white;
  border: solid 1px black;
  bottom: 20%;
  box-shadow: 0 0 1em .1em black;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  left: 20%;
  position: fixed;
  right: 20%;
  text-align: center;
  top: 20%;
}

.modal .message {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-around;
  text-align: center;
}

button.btn {
  background: lightcoral;
  border: none;
  color: white;
  font-size: 1em;
  padding: 1em;
  width: 100%;
}

.loader {
  align-items: center;
  display: flex;
  margin-left: .5em;
}

.loader span {
  animation: fade 2s infinite ease;
  margin-left: .5em;
}

.loader-out {
  border: 2px solid black;
  height: 1em;
  width: 1em;
  animation: out 2s infinite ease;
}

.loader-in {
  position: relative;
  background-color: lightcoral;
  height: 0;
  animation: in 2s infinite ease-in-out;
}

@keyframes fade {
  0% {
    opacity: .2;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes in {
  0% {
    height: 100%;
  }
  25% {
    height: 100%;
  }
  50% {
    height: 0%;
  }
  75% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes out {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {

  // Artist
  .artist-info img {
    max-height: 200px;
  }

  // Top Artists
  .bands {
    margin: 0;
    overflow: hidden;
    padding: 10px;
  }

  .headliner {
    font-size: 2.2em;
    margin: 0;
  }

  .mainLineup {
    font-size: 1.6em;
  }

  .midLineup {
    font-size: 1.2em;
  }

  .bottomLineup {
    font-size: .8em;
  }

  // Track
  .track {
    margin-right: 0;
  }
}
